.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

      body {
        margin: 0px;
        background-color: #999999;
        font-family: "Verdana", Verdana, sans-serif;
      }

      .fixedHeader {
        top: 0;
        min-width: 1000px;
        height: 100px;
        background: #932f4a;
        width: 100%;
        position: fixed;
        text-align: center;
        color: white;
        font-size: 100%;
      }

      #headerText {
        font-size: 200%;
      }


      .content {
        position: absolute;
        top: 120px;
        right: 3%;
        left: 3%;
        width: 94%;


        background-color: #e39a4e;
        border-radius: 15px 15px 15px 15px;
      }

      .borderContent {
        padding: 0 25 0 25;
      }


      .leftCol {
        width: 28%;
        float: left;
        padding-bottom: 20px;
      }

      .rightCol {
        width: 68%;
        float: right;
      }


      .rowItem {
        width: 100%;
        height: 50px;
        float: left;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        text-indent: 18px;
        padding: 0 0 0 0;
        margin: 5px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px 25px 25px 5px;
        border: 0px;
        box-shadow: none;
        outline: none;
      }

      .day {
        float: left;
        position: relative;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        width: 25px;
        color: black;
      }

      .submit {
        width: 100%;
        margin: 5;
      }

      .times {
        text-align: left;
        text-indent: 120px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        padding-bottom: 10;
        color: black;
      }

      .rightItem {
        width: 100%;

        color: #fff;
        margin: 0 0 0 0;
        padding: 10 0 0 0;
        position: relative;
        text-align: center;
        text-indent: 5px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px 5px 5px 5px;
        border: 0px;
        box-shadow: none;
        outline: none;
      }


      .title {
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: 400;
      }


      .dropdown {
        border-style: none;
        background-color: white;
        height: 20px;
        border-radius: 5px 5px 5px 5px;
      }

      .dropdown:hover {
        background-color: #999999;
      }

      .submit {
        background-color: #932f4a;
        border-style: none;
        border-radius: 5px 5px 5px 5px;
        height: 30px;
        font-size: 105%;
        color: white;
      }

      .submit:hover {
        background-color: #661e31;

      }
